.App button, .App input{
    margin: 20px;
    padding: 10px 20px;
    border: 2px, solid gray;
    background-color: #fff;
    background-color: pink;
    margin-left: auto;
    margin-right: auto;
   
}

.App button{
    cursor: pointer;
}

.App button:hover{
    background-color: black;
    color: white;
}

